<a href="https://colab.research.google.com/github/ipeirotis/introduction-to-databases/blob/master/session2/assignment_selection_queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 2: Selection Queries Assignment


In this segment we will connect to the *Music* database.

## Setup

In [ ]:
# !sudo pip3 install PyMySQL sqlalchemy sql_magic

In [1]:
# This code creates a connection to the database
from sqlalchemy import create_engine

conn_string = "mysql+pymysql://{user}:{password}@{host}/{db}?charset={encoding}".format(
    host="db.ipeirotis.org",
    user="student",
    db="music",
    password="dwdstudent2015",
    encoding="utf8mb4",
)

engine = create_engine(conn_string)
con = engine.connect()

In [2]:
%reload_ext sql_magic

In [3]:
%config SQL.conn_name = 'engine'

This is an example of how you can write an SQL query in the notebook.
You write your SQL query after the `%%read_sql` line

In [4]:
%%read_sql
SELECT * 
FROM played

Query started at 05:44:10 AM UTC; Query executed in 0.00 m

    artist_id  album_id  track_id              played
0           1         3         0 2006-08-14 10:21:03
1           1         3         1 2006-08-14 10:25:22
2           1         3         2 2006-08-14 10:30:25
3           1         3         3 2006-08-14 10:36:54
4           1         3         4 2006-08-14 10:41:43
5           1         3         5 2006-08-14 10:43:37
6           1         3         6 2006-08-14 10:47:21
7           1         3         7 2006-08-14 10:54:02
8           3         1         0 2006-08-15 14:00:03
9           3         1         1 2006-08-15 14:26:12
10          3         1         2 2006-08-15 14:33:57

## Question 1: Show all the tables that appear in the Music database

In [ ]:
%%read_sql

## Question 2: Show the attributes available for each artist

In [ ]:
%%read_sql

## Question 3: Show the attributes available for each album

In [ ]:
%%read_sql

## Question 4: Show the attributes available for each track

In [ ]:
%%read_sql

## Question 5: Show all the artists

In [ ]:
%%read_sql

## Question 6: Show all the albums

In [ ]:
%%read_sql

## Question 7: Show all the tracks

In [ ]:
%%read_sql

## Question 8: List all the names of the artists, without the artist ids, sorted alphabetically

In [ ]:
%%read_sql

## Question 9: Show all the album names and the corresponding artist id, but do not show the album_id. Rename the album_name attribute to album_title.

In [ ]:
%%read_sql

## Question 10: List the 10 shortest tracks, in terms of playing time

In [ ]:
%%read_sql